.switcher {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.switcherIcon {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  padding: 0.5em;
  border-radius: 50%;
}
