html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --bg: hsla(207, 5%, 67%, 0.299);
  --lime: hsl(150deg 30% 60%);
  --black-raisin: hsl(0, 0, 15, 54%);
}